header{
  background: $darkpurple;
  color: #FFF;
  overflow: auto;
  padding: 20px 15px; 
  .logo{
    float:left; 
    padding-left: 100px;
    text-align: right;
    
    
    .detailLogo{
      font-size: 1.7rem;
    }
  }
  
  
  
  nav{
    float: right;
    a{
      color:#FFF;
      text-decoration: none;
      padding: 7px 20px;
      text-transform: capitalize;
      font-weight: 300;
      font-size: .9rem;
      
      &:hover {
        color: $purple;
      }
      &.register-btn{
        background: $purple;
        padding: 7px 25px;
        text-align: center;
        color: #FFF;
        border-radius: 5px;
      }
    }
  }
}